/***********************************************************
Desktop Navs **********************************************/

@screen lg {
  .menu-primary,
  .menu-secondary {
    li {
      @apply relative;
        &:focus-within > .sub-menu {
          @apply
            block
            opacity-100;
        }
    }

    a {
      &:hover {
        & + .sub-menu {
          @apply
            block
            opacity-100;
        }
      }
    }

    .icon-angle-down {
      @apply
        absolute
        bottom-0
        left-1/2
        transform
        -translate-x-1/2
        w-4
        h-4
        opacity-50;
    }
  }

  .sub-menu {
    @apply
      absolute
      top-full
      z-40
      opacity-0
      hidden
      left-1/2
      transform
      shadow-lg
      bg-white
      -translate-x-1/2;

      &:focus-within {
        @apply
          block
          opacity-100
          visible;
      }

      width: 200px;

      &:hover {
        @apply
          block
          opacity-100
          visible;
      }
  }
}
