<!doctype html>
<html {{ site.language_attributes }}>
	<head>
		{% include 'layout/head.twig' %}
	</head>
	<body class="{{ body_class }}">
		{{ fn('wp_body_open') }}

		{% include 'partials/header.twig' %}

		{# Ajax Cart Slideout. Remove this if not needed. #}
		{% include 'partials/shop/ajax-cart.twig' %}

		<main>
			<section id="content" role="main">
				{% block content %}{% endblock %}
				{% block sidebar %}{% endblock %}
			</section>
		</main>

		{% include 'partials/footer.twig' %}

		{{ function('wp_footer') }}
	</body>
</html>
