{% if header_menu %}
	<ul class="flex flex-wrap">
		{% for item in header_menu.get_items %}
			<li class="{{ item.classes | join(' ') }} mr-2">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{#
					Add back in for subnav
					{% include 'partials/menu.twig' with {'items': item.children} %}
				#}
			</li>
		{% endfor %}
	</ul>
{% endif %}
