<div class="apcf-control-panel__field apcf-control-panel__sub-field">
	
	<div class="apcf-control-panel__panel">

		<div class="apcf-control-panel__panel-item apcf-control-panel__panel-item--large">
			Text
			<input class="list-item-name" type="text" name="">
		</div>

		<div class="apcf-control-panel__panel-item apcf-control-panel__panel-item--large">
			Value
			<input class="list-item-value" type="text" name="">
		</div>

		<div class="apcf-control-panel__panel-item">
			<button name="delete-list" class="delete-list-item button button-secondary button-large">Delete</button>
		</div>

	</div>

</div>