/*---------------------------------------------------------------
    Grid
--------------------------------------------------------------- */

.grid {
    width: 100%;
}

@include bp800 {
    .grid {
        float: left;
    }
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .grid#{$i}_12 {
            width: $width;
        }
    }
}

/*---------------------------------------------------------------
    Spacing 
--------------------------------------------------------------- */

/* Padding
--------------------------------------------------------------- */

.pad-10-10 {
    padding: 10px;
}

.pad-10-0 {
    padding: 10px 0;
}

/* Margin
--------------------------------------------------------------- */

.marg-10-10 {
    margin: 10px;
}

.marg-10-0 {
    margin: 10px 0;
}