@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************************************************
Layouts ***************************************************/

body {
  @apply
    font-sans
    antialiased
    leading-relaxed;
}

.container {
  @apply
    w-full
    mx-auto
    px-4;
}

/***********************************************************
Headings **************************************************/

h1,.h1,
h2,.h2,
h3,.h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @apply
    font-bold
    leading-snug
    mb-4;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

/***********************************************************
Copy ******************************************************/

article {
  p {
    @apply
      leading-relaxed
      mb-6;
  }

  ol,
  ul {
    @apply
      pl-4
      mb-8;

    li {
      @apply
        leading-relaxed
        mb-2;
    }
  }

  ul {
    li {
      @apply list-disc;
    }
  }

  ol {
    li {
      @apply list-decimal;
    }
  }
}

a {
  @apply text-blue-500;

    &:hover,
    &:focus {
      @apply text-blue-600;
    }
}

/***********************************************************
Buttons ***************************************************/

button,
.btn {
  @apply
    rounded
    bg-orange-500
    text-black
    p-4;
}

/***********************************************************
Menus *****************************************************/

.menu-primary,
.menu-secondary {

  li {
    @apply relative;

    &.menu-item-has-children > a:after {
      content: '\f107';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font: 1em/1 FontAwesome;
    }
  }

  a {
    @apply
      relative
      block
      p-4;

      &:hover {
        @apply
          bg-gray-600
          text-white;

        & + .sub-menu {
          @apply
            block
            opacity-100
            visible;
        }
      }
  }

  .current-menu-item a,
  .current-menu-parent a {
    @apply
      text-white
      bg-gray-800;

      &:hover {
        @apply text-white;
      }
  }

  .sub-menu {
    @apply
      w-full
      absolute
      top-0
      left-0
      z-50
      opacity-0
      hidden
      bg-white;

      &:hover {
        @apply
          block
          opacity-100
          visible;
      }
  }
}

/***********************************************************
Buckets ***************************************************/



/***********************************************************
Forms *****************************************************/



/***********************************************************
Lazyload **************************************************/

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
