{% extends '_layout/base.twig' %}

{% block content %}

<div class="container">
	{% do action('woocommerce_before_main_content') %}

	<div class="before-shop-loop">
		<h1>Shop</h1>
		{% do action('woocommerce_before_shop_loop') %}
	</div>

	<section class="flex flex-wrap row">
		<div class="w-full column md:w-9/12">
			<div class="flex flex-wrap products row">
				{% for post in products %}
					{% include ["partials/shop/tease-product.twig"] %}
				{% endfor %}
			</div>
		</div>

		<aside class="w-full column md:w-3/12">
		{% do action('woocommerce_sidebar') %}
		</aside>
	</section>

	{% do action('woocommerce_after_shop_loop') %}
	{% do action('woocommerce_after_main_content') %}

</div>

{% endblock  %}
