{% extends 'base.twig' %}

{% block page_content %}

<div class="container p-4 md:p-8 lg:px-0 lg:flex flex-wrap flex-grow">

  <main class="lg:w-2/3 lg:pr-16">

    <article>
      {% for post in posts %}
      <div>
        <h1>{{post.post_title}}</h1>
        {{post.post_content}}
        <a href="{{ function("get_permalink", post.ID)}}">Read More</a>
      </div>  
      {% endfor %}    
    </article>

  </main>

  <aside class="bg-gray-100 lg:w-1/3">
    {% include "_components/sidebar.twig" with {
      index : true,
      categories : categories,
      archives : archives
    } %}
  </aside>

</div>

{% endblock %}