// --------------------------------------------------------------------------------------------------
// Base Form Styles
// --------------------------------------------------------------------------------------------------

input,
textarea,
select {
    @apply
    px-4
    py-3
    w-full
    bg-white
    border
    border-gray-300
    border-solid
    text-sm
    text-gray-900;

    @screen sm {
        @apply
        px-6;
    }

    &[aria-invalid="true"] {
        background-color: #f3e2e2;
    }
}

select {
    background-image: url(../images/angle-down-light.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 12px;
    -webkit-appearance: none;
    background-color: #fff;
}

textarea {
    height: 150px;
}

// The below placeholder selectors don't work when comma separated
input::-webkit-input-placeholder {
    @apply text-gray-700;
}
input::-ms-input-placeholder {
    @apply text-gray-700;
}
input::-moz-placeholder {
    @apply text-gray-700;
}
input::placeholder {
    @apply text-gray-700;
}

textarea::-webkit-input-placeholder {
    @apply text-gray-700;
}
textarea::-ms-input-placeholder {
    @apply text-gray-700;
}
textarea::-moz-placeholder {
    @apply text-gray-700;
}
textarea::placeholder {
    @apply text-gray-700;
}

input[type="button"],
input[type="submit"] {
    @apply
    bg-black
    text-white
    font-semibold
    inline-block
    text-base
    w-auto
    cursor-pointer;
    transition: .3s;
    
    &:hover {
        @apply
        bg-red-700;
    }
}

// --------------------------------------------------------------------------------------------------
// Ninja Forms
// --------------------------------------------------------------------------------------------------
nf-field {
    @apply
    float-left
    mb-3
    w-full;

    &:last-child {
        @apply mb-0;
    }
}

.nf-form-fields-required,
.nf-after-field,
.nf-after-form-content {
    display: none;
}

.hide-labels label {
    display: none;
}

