{% for list in fields.list %}

	<label class="{{ fields.classes }}"><input {% if (fields.required) %}required{% endif %} type="checkbox" name="acpf-{{ fields.name }}" value="{{ list.value }}"> {{ list.name }}</label>

{% endfor %}