<footer class="mt-10 py-10 container">
	{% include 'partials/footer-menu.twig' %}

	<div class="flex justify-between">
		<p class="text-xs">&copy; Copyright</p>

		<nav>
			{{ inline_svg('icon-facebook') }}
		</nav>
	</div>
</footer>
