/*---------------------------------------------------------------
    Copy
--------------------------------------------------------------- */

.copy {

	h1 + p {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        margin: 10px 0;
    }

    ul {
        list-style: none;
        margin: 10px 0;
    }

    > ul li {
        &:before {
            display: inline-block;
            padding-right: 5px;
            font-family: FontAwesome;
            content: '\f0da';
        }    
    }

    ol {
        margin-left: 10px;
    }

    img {
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;

        @include bp480 {
            &.left {
                float: left;
                margin: 5px 5px 5px 0;
            }

            &.center {
                clear: both;
                margin: 0 auto;
            }

            &.right {
                float: right;
                margin: 5px 0 5px 5px;
            }
        }
    }

}

