/*---------------------------------------------------------------
    Copy
--------------------------------------------------------------- */

.copy {

	h1 + p {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        margin: 10px 0;
    }

    ul {
        list-style: none;
        margin: 10px 0;
    }

    > ul li {
        &:before {
            display: inline-block;
            padding-right: 5px;
            font-family: FontAwesome;
            content: '\f0da';
        }    
    }

    ol {
        margin-left: 10px;
    }

    img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    @include bp480 {

        img {
            width: auto;
        }

        .alignleft {
            float: left;
            margin: 10px 10px 10px 0;
        }

        .aligncenter {
            clear: both;
            margin: 0 auto;
        }

        .alignright {
            float: right;
            margin: 10px 0 10px 10px;
        }
    }

}

