/*---------------------------------------------------------------
    Spacing 
--------------------------------------------------------------- */

/* Padding
--------------------------------------------------------------- */

.pad-1-1 {
	padding: 1em 1em;
}

.pad-1-0 {
	padding: 1em 0;
}

/* Margin
--------------------------------------------------------------- */

.marg-1-1 {
	margin: 1em 1em;
}

.marg-1-0 {
	margin: 1em 0;
}