/*---------------------------------------------------------------
    News Specific
--------------------------------------------------------------- */

.news-aside {
    ul {
        list-style: none;
    }
    li {
        margin: .3em 0;
        a {
            text-decoration: none;
            &:hover {
            }
        }
    }
}